[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "themes/coming-soon"]
	path = themes/coming-soon
	url = https://github.com/mansoorbarri/coming-soon.git
